CompileFlags:
  Add:
    - --target=i386-elf
    - -std=c11
    - -ffreestanding
    - -fno-builtin
    - -fno-stack-protector
    - -fno-pic
    - -m32
    - -Wall
    - -Wextra
    - -Wpedantic
    - -IHoshiOS/.

Diagnostics:
  Suppress:
    # clangd doesn't understand some freestanding patterns
    - unused-value
    - unused-includes
  ClangTidy:
    Add:
      - bugprone-*
      - readability-*
      - misc-*
      - performance-*
    Remove:
      - bugprone-easily-swappable-parameters
      - bugprone-narrowing-conversions
      - bugprone-reserved-identifier
      - bugprone-unused-return-value
      - readability-magic-numbers
      - readability-function-cognitive-complexity
      - readability-identifier-length
      - readability-identifier-naming
      - readability-avoid-const-params-in-decls
      - misc-include-cleaner
      - performance-no-int-to-ptr
    CheckOptions:
      readability-function-size.LineThreshold: 80
      readability-function-size.StatementThreshold: 120
      readability-function-size.BranchThreshold: 30

Index:
  Background: Build

InlayHints:
  BlockEnd: false
  Designators: true
  Enabled: false
  ParameterNames: true
  DeducedTypes: true
  TypeNameLimit: 24
